html {
  min-height:100%;
}

body {
  min-height:100%;
  margin: 0;
  background-size: auto;
  background-color: #ffffff;
  background-image: url("images/overlay.png"), -moz-linear-gradient(65deg, rgba(245, 70, 4, 0.45) 25%, rgba(0, 147, 68, 0.55));
  background-image: url("images/overlay.png"), -webkit-linear-gradient(65deg, rgba(245, 70, 4, 0.45) 25%, rgba(0, 147, 68, 0.55));
  background-image: url("images/overlay.png"), -ms-linear-gradient(65deg, rgba(245, 70, 4, 0.45) 25%, rgba(0, 147, 68, 0.55));
  background-image: url("images/overlay.png"), linear-gradient(65deg, rgba(245, 70, 4, 0.45) 25%, rgba(0, 147, 68, 0.55));
}

table.skill-table {
  margin: 2em 0 2em 0;
}

.skill-table th, td {
  width: 33% ;
  padding-top: 10px;
}

.skill-table td:nth-child(2), th:nth-child(2) {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.skill-table th {
  font-weight: bold;
  border-bottom: 1px solid grey;
  vertical-align: middle;
}
